body {
    font-family: Arial, Helvetica, sans-serif;
}
/*Button*/
.btn.btn-primary{
    text-align: center;
    display: block;
    vertical-align: bottom;
}
.btn-primary{
    background: black;
    border-color: black;
    color: white;
    width: auto;
}
.btn-primary:hover{
    background: #646464;
    border-color: #646464;
}
/*DEVELOPER: Karen Wu, IS117-005, Fall 2019 */